
<br><br><br><br><br>
<div class="container-fluid">
<div class="row">
  <app-form-header></app-form-header>
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-7 col-md-7">
      <h1>Choose Your Skills</h1>
<form [formGroup]="skillForm" (submit)="rgisterSkill()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Select Your Skill</label><br>
            <div class="code">
              <select class="form-control" formControlName="skillName">
                <option *ngFor="let count of skillInformation" value="{{count.skillName}}"> {{count.skillName}} </option>
             </select>
            </div>
        </div>
        </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputFirstName">Experiance In Years</label>
        <input type="text" formControlName="expYears" class="form-control" placeholder="0.0">
      </div>
      <div class="form-group col-md-3">
        <label for="inputLastName">Education In Years</label>
        <select class="form-control" formControlName="eduYears">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
         </select>
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Description</label>
      <input type="text" formControlName="description" class="form-control" placeholder="Write Some Thing About Your Skill">
    </div>
    </div>
     <button type="submit" class="btn btn-success btnReset">Save and Next</button>
     <button type="btn" class="btn btn-primary btnReset">Save and Clear</button>
     <input type="reset" value="Clear" class="btnReset btn btn-danger"><br><br><br>
  </form>
</div>
</div>
</div>