<div class="wrapper"  >
    <div class="container">
       <h4>Foreget Password</h4>
      
      <form [formGroup] = "forget" (ngSubmit) = "onsubmit()" class="form-inline" *ngIf="forgetForm === 1">
        <div class="group">
          <label for="email"><b>Email:</b></label>
          <input type="email" formControlName="email"  name="email">
          <h6 style="color: red">{{emailError}}</h6>
          <div  class="invalidfeedback" *ngIf="submitted && forget.controls.email.errors" >
            <div *ngIf="forget.controls.email.errors.required || forget.controls.email.errors.email">Email must be required</div>
        </div>
        <br><br>
        <input type="submit" value="Submit" id="forget">
        <div class = "sucessmessage">{{sucessmessage}}</div>  
      </div>
      </form>
      <form [formGroup]="passChange" (ngSubmit) = "forgetPass()" *ngIf="forgetForm === 2" class="form-inline">
      <div class="group">
        <label for="">Enter Code</label>
        <input type="number" formControlName="forgetCode" name="forgetCode">
        <label for="">Enter New Password</label>
        <input type="password" formControlName="password1" name="password1">
        <label for="">Retype the Password</label>
        <input type="password" formControlName="password2"  name="password2">
        <h6 style="color: red">{{passMatch}}</h6>
        <br><br>
        <input type="submit" value="Submit" id="passChange">
      </div>
      </form>
    </div>
  </div>

   
