.header{
    background: #3B71F8;
}
.div_header{
    position: absolute;
    right: 10px;
    float: right;
}
.list_itemStyle{
    margin-left: 5px;
}
.homeitemStyle{
    background: rgb(255,165,0);
    font-weight: bold;
}
.border a:hover{
    background: rgb(255,165,0);
    font-size: 110%;
    font-weight: bold;
    border: none;
}
.logoStyle{
    position: relative;  
    width: 100%;
    height: 70px;
}