<app-form-header></app-form-header><br><br><br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 border">
            <img src="../../assets/congratulation.png" class="img-rounded imgSize" alt="#">
            <h1>CONGRATULATION</h1>
            <h3>Welcome To World Skills</h3>
            <h4>Your email and account is verified so please Sign in to your account and enjoy our services </h4>

            <button routerLink="/dashboard" class="btn btn-primary btn-block">Sign In</button><br>
        </div>
        <div class="col-md-4">  
        </div> 
    </div>
</div>