.admin_imgStyle{
    width: 50%;
    height: 150px;
    border: 2px solid rgb(240, 237, 237);
    text-align: center;
}
h1{
    text-align: center;
    color: Black;    
}
h4{
    color: green;
}
.flagStyle{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(240, 237, 237);
    float: right;
    margin-top: -15px;
}
h5{
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
h5 b{
    color: #698efd;
    font-style: italic;
}
.checked{
    color: orange;
}